<?xml version='1.0' encoding='utf-8'?>
<widget id="ca.edumedia.li000592.tundra" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>li000592-Tundra</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <!-- <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:usesCleartextTraffic="true" />
        </edit-config> -->
        <allow-navigation href="*" />
        <allow-intent href="market:*" />
        <icon src="/res/icons/android/Icons-mdpi.png" density="mdpi" />
        <icon src="/res/icons/android/Icons-hdpi.png" density="hdpi" />
        <icon src="/res/icons/android/Icons-xhdpi.png" density="xhdpi" />
        <icon src="/res/icons/android/Icons-xxhdpi.png" density="xxhdpi" />
        <icon src="/res/icons/android/Icons-xxxhdpi.png" density="xxxhdpi" />
        
        <splash src="/res/screen/android/Landscape-mdpi.png" density="land-mdpi"/>
        <splash src="/res/screen/android/Portrait-mdpi.png" density="port-mdpi"/>

        <splash src="/res/screen/android/Landscape-hdpi.png" density="land-hdpi"/>
        <splash src="/res/screen/android/Portrait-hdpi.png" density="port-hdpi"/>
        
        <splash src="/res/screen/android/Landscape-xhdpi.png" density="land-xhdpi"/>
        <splash src="/res/screen/android/Portrait-xhdpi.png" density="port-xhdpi"/>

        <splash src="/res/screen/android/Landscape-xxhdpi.png" density="land-xxhdpi"/>
        <splash src="/res/screen/android/Portrait-xxhdpi.png" density="port-xxhdpi"/> 
        
        <splash src="/res/screen/android/Landscape-xxxhdpi.png" density="land-xxxhdpi"/>
        <splash src="/res/screen/android/Portrait-xxxhdpi.png" density="port-xxxhdpi"/>
        <preference name="AutoHideSplashScreen" value="true" />

    </platform>
    <platform name="ios">
        <icon src="/res/icons/ios/icon-60@3x.png" width="180" height="180" />
        <splash src="/res/screen/ios/iphone-xs.png" width="1125" height="2436"/>
        <preference name="AutoHideSplashScreen" value="true" />
        <preference name="SplashScreenDelay" value="3000" />
        <preference name="StatusBarStyle" value="blackopaque" />
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
