:root {
    --primary:rgb(10, 145, 229);
    --primary1: whitesmoke;
    --primary2: rgb(226, 62, 142);
}
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.icons{
    width: 30px;
}
body {
    font-size: 16px;
    padding:0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.header{
    padding-top: env(safe-area-inset-top);
    background-color: var(--primary1);
    color: black;
    width: 100vw;
    height: 10%;
    position: fixed;
    top:0;
    padding-top: 7%;
    justify-content:center;
    text-align: center;
    line-height: 50px;
    box-shadow: 0 1px 4px hsla(0, 0%, 0%, 0.233);
    z-index: 1000;
}
#header-logo {
    padding-top: 10px;
    height: 40px;
    background-color: none;
}

.nav {
    bottom: 0;
    width: 100%;
    height: 10%;
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: center;
    align-self: center;
    background-color: var(--primary1);
    font-size: 12px;
    box-shadow: 0 -1px 4px hsla(0, 0%, 0%, 0.233);
}
.nav-btn p {
    margin-top: 0;
}
.nav-btn {
    margin-top: 10px;
    width: 50%;
    background-color: var(--primary1);
    align-items: center;
    position: center;
    align-self: center;
    text-align: center;
    border-right: rgb(189, 187, 187) 0.5px solid;

}
/* #home {
    width: 50%;
    background-color: var(--primary1);
} */
.page {
    box-sizing: border-box;
    min-height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    opacity: 0;
    z-index: 1;
    transition: opacity 0.4s linear;
    /* padding:
        env(safe-area-inset-top) 
        env(safe-area-inset-right) 
        env(safe-area-inset-bottom) 
        env(safe-area-inset-left); */
}
.page.active {
    opacity: 1;
    z-index: 100;
}
  #cardList-home {
    color: rgb(122, 123, 124);
    display: flex;
    flex-direction: column;
    align-items:center;
  }
  .cardsList{
    margin-top: 20%;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items:center;
    padding-bottom: 80px;
}
#gender{
    margin-left: 5px;
    padding-top: 6px;
    width: 18px;
    height: 100%;
}
.info-first{
    display: flex;
    flex-direction: row;
}
main {
    margin-top: 85px;
    width: 90%;
}
.card-home {
    
    width: 100%;
    transition: all  0.4s linear 0s;
    transform: translateX(0);
}
.img-home{
    transition: all  0.2s linear 0s;
    transform: translateX(0);
}
.img-home.left {
    transform: translateX(-300%);
}
.img-home.right {
    transform: translateX(300%);
}
.img-home{
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 2px 4px hsla(0, 0%, 0%, 0.493);
}
#home .home-btn p {
    color: var(--primary2);
}
#liked .liked-btn p {
    color: var(--primary2);
}
.gender-btn {
    margin-top: 45px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 40px;

    margin-bottom: 20px;
   

}
#gender-men {
    background-color: steelblue;
    color: white;
    font-size: 25px;
    padding:10px;
    border-radius: 10px;
    padding-left: 28px;
    padding-right: 28px;
    border: none;
    box-shadow: 0 2px 4px hsla(0, 0%, 0%, 0.493);

}
#gender-women {
    background-color: var(--primary2);
    color: white;
    font-size: 25px;
    padding:10px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 2px 4px hsla(0, 0%, 0%, 0.493);
}
/* .male.none{
    display: none;
}
.female.none{
    display: none;
} */
#card-home div {
    padding-top: 10px;
}
#card-home p {
    padding-top: 5px;
}
#name {
    height: 100%;
}
/* Card List */
.img-liked {
    margin-left: 7px;
    width: 70px;
    border-radius: 10%;
    height: 70px;
}
.gender-liked {
    width: 18px;
    height: 20px;
    margin-top: 1px;
    margin-left: 10px;
}
.card-list{
    padding-bottom: 100px;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* margin-top: 65px; */
    /* top: 0;
    left: 0;
    width: 100%; */


    
}
.card-liked{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: "left info right";
    /* justify-content: space-around; */
    height: 80px;
    align-items: center;
    justify-items: center;
    align-items: center;
    border-radius: 10%;
    border-bottom: hsla(0, 0%, 0%, 0.233) 1px solid;
    box-shadow: 0 1px 4px hsla(0, 0%, 0%, 0.233);
    transition: all  0.4s linear 0s;
    transform: translateX(0);
    background-color: var(--primary1);
}
.card-top {
    display: flex;
    flex-direction: row;
    height: 34px;
}
div {
    height: 100%;
}
h2 {
    height: 30px;
}
.delete {
    width: 18px;
}
.info-liked{
    margin-top: 15px;
    grid-area: info;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding-right: 15px;
}
.trans-like {
    height: 85%;
    width: 100%;
    display: flex;
    text-align: center;
    position: absolute;
    justify-content: center;
    align-items: center;
    /* transition: opacity 0.2s linear; */
    opacity: 0;
    background-color: white;
    color: var(--primary2);
}
.trans-nope {
    height: 85%;
    width: 100%;
    display: flex;
    text-align: center;
    position: absolute;
    justify-content: center;
    align-items: center;
    /* transition: opacity 0.2s linear; */
    opacity: 0;
    background-color: white;
    color: olive;
}
.trans-like.active {
    opacity: 1;
    z-index: 1000;
    font-size: 30px;
    /* transition: opacity 0.2s linear; */
}
.trans-nope.active {
    opacity: 1;
    z-index: 1000;
    font-size: 30px;
    /* transition: opacity 0.2s linear; */
}

.card-liked.active {
    transform: translateX(300%);
}
.empty{
    width: 100%;
    text-align: center;
    display: fixed;

}

/* #liked{
    box-sizing: border-box;
    min-height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* opacity: 0;
    z-index: 1;
    transition: opacity 0.4s linear;    
} */